<mat-toolbar color ="accent">
  <a mat-button routerLink="ViewStatements">
    <i class="material-icons">
      list
    </i>
    ViewStatements
  </a>

  <a mat-button  routerLink="RechargeNow">
    <i class="material-icons">
      phonelink_ring
    </i>
    RechargeNow
  </a>

  <a mat-button color="white"routerLink="SendMoney">
    <i class="material-icons">
      swap_horiz
    </i>
    SendMoney
  </a>
  <a mat-button routerLink="PayBills">
    <i class="material-icons">
      post_add
    </i>
    PayBills
  </a>
  <a mat-button routerLink="OpenWish">
    <i class="material-icons">
      local_atm
    </i>
    Open iWish
  </a>
  </mat-toolbar>
