<!--Navbar-->
<div style="background-color: lightcoral;">
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" 
>

<!-- Navbar brand -->
    

    <!-- Collapsible content -->
    <links style="
    height: 50px;">
       <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                 mdbWavesEffect>
My Accounts<span class="caret"></span></a>
<div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
<a class="dropdown-item waves-light" mdbWavesEffect href="#">Account Summary</a>
<a class="dropdown-item waves-light" mdbWavesEffect href="#">Bank Accounts</a>
<a class="dropdown-item waves-light" mdbWavesEffect href="#">Credit Cards</a>
<a class="dropdown-item waves-light" mdbWavesEffect href="#">PayLater</a>
</div>
</li>
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
<a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
 mdbWavesEffect>
                Payments & Transfer<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                </div>
            </li>


            <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                     mdbWavesEffect>
                                    Customer Serivce<span class="caret"></span></a>
                                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Upudate Address</a>
                                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Update Customer</a>
                                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Update Email</a>
                                       </div>
                                </li>
                    

        </ul>
        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
</div>