$primary: rgb(111, 0, 255);

button{
    border-radius: 30px;
}

h4{
    color:$primary;
}

td, th{
vertical-align: middle;
align-content: center;
text-align: center;
}

mdb-card-body{
    overflow: auto; 
    text-align: justify;
     max-height: 450px; 
}