    <table>
    <th><img class="logo" src="assets/images/tek5.jpg">  </th>
   <div class="topnav">
   <th><a class="insights" href="#insights">Insights</a></th>  
  <th><a class="product" href="#product">Product</a></th>
  <th><a class="rewards" href="#rewards">Rewards</a></th>
  <!--<th><input type="image" src="src/app/images/personalbanking.png" alt="Submit" 
  align="right" width="78" height="64">-->
  <!-- <th><div class="form-group">
      <button class="btn btn-primary" (click)="openLogin()">Login</button>  
  </div></th>   -->
</div>
  
  </table>
