h1{
    margin: 3%; 
    text-align: center;
}
.accountDetails{
    margin: 3%;
}
.formclass{
    margin: 3%;
}
label{
    padding-left: 3%;
    font-weight: bold;
}
.date-picker{
    padding: 3%;
}
.dropDown{
    padding: 3%; 
}
statement-summary{
    padding: 3%;
}