<div>
    <p> Transaction sucessfully!</p>
  </div>  

<!-- <div [hidden]="submitted" style="width: 400px;">
     <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label  for="name">Transaction Id</label>
            <input type="text" class="form-control" id="transactionId" required [(ngModel)]="transfor.transactionId" name="transactionId">
        </div>
        <div class="form-group">
            <label for="name">Customer Id</label>
            <input type="text" class="form-control" id="customerId" required [(ngModel)]="transfor.customerId" name="customerId">
        </div>
        <div class="form-group">
            <label for="name">Account Number</label>
            <input type="text" class="form-control" id="customerAccountNumber" required [(ngModel)]="transfor.customerAccountNumber" name="customerAccountNumber">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="customerName" required [(ngModel)]="transfor.customerName" name="customerName">
        </div>

        <div class="form-group">
            <label for="name">Branch </label>
            <input type="text" class="form-control" id="customerBranch" required [(ngModel)]="transfor.customerBranch" name="customerBranch">
        </div>
        <div class="form-group">
            <label for="name">Bank Name</label>
            <input type="text" class="form-control" id="customerBank" required [(ngModel)]="transfor.customerBank" name="customerBank">
        </div>
        <div class="form-group">
            <label for="name">Bank IFSC</label>
            <input type="text" class="form-control" id="customerIFSC" required [(ngModel)]="transfor.customerIFSC" name="customerIFSC">
        </div>
        <div class="form-group">
            <label for="name">BankAddress</label>
            <input type="text" class="form-control" id="customerBankAddress" required [(ngModel)]="transfor.customerBankAddress" name="customerBankAddress">
        </div>
        <div class="form-group">
            <label for="name">Payee ID </label>
            <input type="text" class="form-control" id="payeeId" required [(ngModel)]="transfor.payeeId" name="payeeId">
        </div>
        <div class="form-group">
            <label for="name">Payee Name</label>
            <input type="text" class="form-control" id="payeeName" required [(ngModel)]="transfor.payeeName" name="payeeName">
        </div>
        <div class="form-group">
            <label for="name">Payee AccountNumber</label>
            <input type="text" class="form-control" id="payeeAccountNumber" required [(ngModel)]="transfor.payeeAccountNumber" name="payeeAccountNumber">
        </div>
        <div class="form-group">
            <label for="name">Payee BankName</label>
            <input type="text" class="form-control" id="payeeBankName" required [(ngModel)]="transfor.payeeBankName" name="payeeBankName">
        </div>
        <div class="form-group">
            <label for="name">Payee Bank IFSC</label>
            <input type="text" class="form-control" id="payeeBankIFSC" required [(ngModel)]="transfor.payeeBankIFSC" name="payeeBankIFSC">
        </div>
        <div class="form-group">
            <label for="name">payeeBankAddress</label>
            <input type="text" class="form-control" id="payeeBankAddress" required [(ngModel)]="transfor.payeeBankAddress" name="payeeBankAddress">
        </div>
        <div class="form-group">
            <label for="name">Transaction Type </label>
            <input type="text" class="form-control" id="transactionType" required [(ngModel)]="transfor.transactionType" name="transactionType">
        </div>
        <div class="form-group">
            <label for="name">AvailableBalance</label>
            <input type="text" class="form-control" id="availableBalance" required [(ngModel)]="transfor.availableBalance" name="availableBalance">
        </div>
        <div class="form-group">
            <label for="name">Amount</label>
            <input type="text" class="form-control" id="transactionAmount" required [(ngModel)]="transfor.transactionAmount" name="transactionAmount">
        </div>
         <p *ngIf="!submitted">
         <button (click)="onSubmit()">Pay</button> 
         <button type="submit" class="btn btn-success">Pay</button>
        </p>-->

        <!-- <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" (click)="save()">pay</button>
          </div>
     <button type="submit" class="btn btn-success">Pay</button> 
    </form>
</div>
<div>   -->
   
        <!-- <P *ngIf="tranaforRes">Transaction ID: {{tranaforRes.customerId}}</P>
        <P>customer Name: {{transfor.customerName}}</P>
        <P>Account No: {{transfor.customerAccountNumber}}</P>
</div> -->
<!-- <ul>
    <li *ngFor="let transfor of transfor">
      {{ transfor.customerName}}
    </li>
  </ul> -->
