<h1>Statement Summary</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="myForm">
<div class="formclass">
<label> From</label>
<mat-form-field class="date-picker">
        <mat-label>Choose Start Date</mat-label>
    <input matInput [matDatepicker]="picker2" [max]="maxDate"  
     formControlName="startDate"  (dateInput)="addEvent('input', $event)" 
     (dateChange)="addEvent('change', $event)" [disabled]="disableDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

<label> To</label>
<mat-form-field class="date-picker">
        <mat-label>Choose End Date</mat-label>
    <input matInput [matDatepicker]="picker1" [max]="maxDate"  
     formControlName="endDate"  (dateInput)="addEvent('input', $event)" 
     (dateChange)="addEvent('change', $event)" [disabled]="disableDate">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

 (OR)

<label> Months</label>
<mat-form-field class="dropDown" >
        <mat-label>Months</mat-label>
        <mat-select formControlName="monthsDD" (selectionChange)="onChange($event.value)" [disabled]="flagValue" >
                <mat-option>None</mat-option>
                <mat-option value="1">1</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="6">6</mat-option>
        </mat-select>
</mat-form-field>


<button type="submit" mat-raised-button>submit</button>
</div>
</form>
<div class="accountDetails">
        <label>Customer Id: </label>  {{custId}} <label>Account Number: </label>{{accountNumber}}
</div>
<div *ngIf="tabledata">
<table-component [dataSource]="tabledata" ></table-component>
</div>

<div *ngIf="errorMessage" class="error">
       {{errorMessage}}
</div>
        
<router-outlet></router-outlet>
