* {
    box-sizing: border-box;
  }

/* Style the navbar */
.topnav {
    overflow: hidden;
    background-color:blue
  }
  
/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Navbar links on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Active/current link */
.topnav a.personal {
    
    color: white;
  }

  .topnav a.privilege {

    color: white;
  }
  .topnav a.wealth {

    color: white;
  }
  
  .topnav a.private {

    color: white;
  }

  .topnav a.business {

    color: white;
  }

  .topnav a.corporate {

    color: white;
  }

  .topnav a.aboutus {

    color: white;
  }


  .topnav a.cbdeals {

    color: white;
  }
  
  
  .topnav a.offers {

    color: white;
  }
  
  .topnav a.help {

    color: white;
  }
  /* Style the input container */
.topnav .search-container {
    float: right;
  }

/* Style the input field inside the navbar */
.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  
/* Style the button inside the input container */
.topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  


