
<table>
  
<th><img class="logo" src="src/app/images/aboutus.jpg"></th>
<div class="topnav">
<th><a class="know" href="#know">Know Us</a></th>
<th><a class="board" href="#board">Board of Directors</a></th>
<th><a class="investor" href="#investor">Investor Corner</a></th>
<th><a class="media" href="#media">Media Center</a></th>
<!--<th><input type="image" src="src/app/images/personalbanking.png" alt="Submit" 
  align="right" width="78" height="64">-->
<th><div class="form-group">
    <button class="btn btn-primary" (click)="openLogin()">Login</button>  
</div></th>  
</div>
</table>
<div>
<h2 class="about">About Us</h2>
 <p>TEKsystems Global Services (a division of TEKsystems), is an information technology solutions 
   firm that provides project-based,</p>
   <p>  managed and outsourcing services in Applications,
      Network Infrastructure, and Training and Education.</p>
  </div>

