<div class="personal">
  <img class="logo" src="assets/images/tek1.png">
  <a class="product" href="#product">Product</a>
 <a class="apponline" href="#apponline">Apply Online</a>
<!--<th><input type="image" src="src/app/images/personalbanking.png" alt="Submit" 
  align="right" width="78" height="64">-->
<!-- <input type="image" src="src/app/images/loginicon.jpg" alt="Submit" 
  align="right" width="88" height="68"  [routerLink]="['login']">  -->
  <div class="form-group">
      <button class="btn btn-primary" (click)="openLogin()">Login</button>  
      
    </div>
  </div>


