<div class="container" style="padding-top: 15px;">
  <mdb-card>

    <mdb-card-header class="info-color white-text text-center">
      <h5>
        <strong>Create Payee</strong>
      </h5>
    </mdb-card-header>

    <!--Card content-->
    <mdb-card-body class="px-lg-5">
      <form novalidate (ngSubmit)="addPayeeOnClick(); payeeForm.reset()" [formGroup]="payeeForm">
        <!--<div class="form-group row">
          <label for="cId" class="col-sm-2">Customer Id</label>
            <input type="text" class="form-control col" name="customerId" id="cId"
            formControlName="customerId" required>
        </div>-->
        <div class="form-group row">
          <label for="name" class="col">Payee Name
            <input type="text" class="form-control col" name="name" id="name" formControlName="name" required [ngClass]="{'is-invalid': (payeeForm.get('name').touched ||
              payeeForm.get('name').dirty) && !payeeForm.get('name').valid }" />
            <div [hidden]="payeeForm.get('name').valid || payeeForm.get('name').pristine"
              class="alert alert-danger col">
              Name of the Payee is required
            </div>
          </label>
          <label for="nickName" class="col">Nick Name
            <input type="text" class="form-control col" name="nickName" id="nickName" formControlName="nickName"
              required [ngClass]="{'is-invalid': (payeeForm.get('nickName').touched ||
              payeeForm.get('nickName').dirty) && !payeeForm.get('nickName').valid }" />
            <div [hidden]="payeeForm.get('nickName').valid || payeeForm.get('nickName').pristine"
              class="alert alert-danger col">
              NickName of the Payee is required
            </div>
          </label>
        </div>
        <div class="form-group row">
          <label for="payeeAccountNumber" class="col">Account Number
            <input type="text" class="form-control col" name="payeeAccountNumber" id="payeeAccountNumber"
              formControlName="payeeAccountNumber" required [ngClass]="{'is-invalid': (payeeForm.get('payeeAccountNumber').touched ||
                payeeForm.get('payeeAccountNumber').dirty) && !payeeForm.get('payeeAccountNumber').valid }" />
            <div [hidden]="payeeForm.get('payeeAccountNumber').valid || payeeForm.get('payeeAccountNumber').pristine"
              class="alert alert-danger col">
              Payee Account Number is required
            </div>
          </label>

          <label for="payeeBankIFSC" class="col">Payee Bank IFSC
            <input type="text" class="form-control col" name="payeeBankIFSC" id="payeeBankIFSC"
              pattern="^[A-Za-z]{4}0[A-Z0-9a-z]{6}$" formControlName="payeeBankIFSC" required [ngClass]="{'is-invalid': (payeeForm.get('payeeBankIFSC').touched ||
              payeeForm.get('payeeBankIFSC').dirty) && !payeeForm.get('payeeBankIFSC').valid }" />
            <div [hidden]="payeeForm.get('payeeBankIFSC').valid || payeeForm.get('payeeBankIFSC').pristine"
              class="alert alert-danger col">
              Please Enter Correct IFSC Code
            </div>
          </label>
        </div>

        <div class="form-group row">
          <label for="payeeBankName" class="col">Payee Bank Name
            <input type="text" class="form-control col" name="payeeBankName" id="payeeBankName"
              formControlName="payeeBankName" required [ngClass]="{'is-invalid': (payeeForm.get('payeeBankName').touched ||
              payeeForm.get('payeeBankName').dirty) && !payeeForm.get('payeeBankName').valid }" />
            <div [hidden]="payeeForm.get('payeeBankName').valid || payeeForm.get('payeeBankName').pristine"
              class="alert alert-danger col">
              Name of the Bank is required
            </div>
          </label>
          <label for="payeeBankCity" class="col">Payee Bank City
            <input type="text" class="form-control col" name="payeeBankCity" id="payeeBankCity"
              formControlName="payeeBankCity" required [ngClass]="{'is-invalid': (payeeForm.get('payeeBankCity').touched ||
              payeeForm.get('payeeBankCity').dirty) && !payeeForm.get('payeeBankCity').valid }" />
            <div [hidden]="payeeForm.get('payeeBankCity').valid || payeeForm.get('payeeBankCity').pristine"
              class="alert alert-danger col">
              City Name of the Bank is required
            </div>
          </label>
        </div>
        <div class="form-group row">
          <label for="payeeBankAddress" class="col">Payee Bank Address
            <input type="text" class="form-control col" name="payeeBankAddress" id="payeeBankAddress"
              formControlName="payeeBankAddress" required [ngClass]="{'is-invalid': (payeeForm.get('payeeBankAddress').touched ||
                payeeForm.get('payeeBankAddress').dirty) && !payeeForm.get('payeeBankAddress').valid }" />
            <div [hidden]="payeeForm.get('payeeBankAddress').valid || payeeForm.get('payeeBankAddress').pristine"
              class="alert alert-danger col">
              Address of the Bank is required
            </div>
          </label>
        </div>

        <div class="form-group row">
          <div class="col">
          </div>
          <div class="col-5">
            <button mdbBtn type="button" color="primary" mdbWavesEffect [disabled]="!payeeForm.valid"
              [title]="payeeForm.valid ? 'Save your entered data' : 'Disabled until all the fields are filled'"
              (click)="addPayeeOnClick()">Submit</button>

            <button mdbBtn type="button" color="danger" mdbWavesEffect (click)="payeeForm.reset()">Reset values</button>
          </div>
          <div class="col">
          </div>
        </div>
      </form>
    </mdb-card-body>
  </mdb-card>
</div>